<div class="proposal-list-container">
  <div class="card proposal-card mb-3" *ngFor="let proposal of proposals">
    <div class="card-body row align-items-center">
      <div class="col-6">
        <h6 class="card-subtitle">Title</h6>
        <a
          class="card-text"
          [routerLink]="proposal.uri"
        >
          {{ proposal.title }}
        </a>
      </div>
      <div class="col-6">
        <h6 class="card-subtitle">Owner</h6>
        <p class="card-text">
          {{ proposal.owner?.username || '—' }}
        </p>
      </div>
    </div>
  </div>

  <ngb-pagination
    class="d-flex justify-content-center pagination-styled"
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="totalProposals"
    (pageChange)="changePage()"
  ></ngb-pagination>
</div>
