<!-- login-form.component.html -->
<div class="login-container">
  <div class="login-card">
    <h4 class="login-title">Login</h4>
    <p class="login-subtitle">Please, provide your credentials to log in</p>

    <form id="login-form" (ngSubmit)="onSubmit()" #form="ngForm" novalidate>
      <fieldset>

        <!-- Username input -->
        <div class="form-group mb-3" [class.was-validated]="username.dirty || username.touched">
          <label for="username">Username*</label>
          <input
            id="username"
            type="text"
            name="username"
            class="form-control"
            #username="ngModel"
            [(ngModel)]="user.username"
            required
          >
          <div class="invalid-feedback" *ngIf="username.invalid && (username.dirty || username.touched)">
            A username is required
          </div>
        </div>

        <!-- Password input -->
        <div class="form-group mb-4" [class.was-validated]="password.dirty || password.touched">
          <label for="password">Password*</label>
          <input
            id="password"
            type="password"
            name="password"
            class="form-control"
            #password="ngModel"
            [(ngModel)]="user.password"
            required
            minlength="8"
            maxlength="256"
          >
          <div class="invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors.required">A password is required</div>
            <div *ngIf="password.errors.minlength">At least 8 characters</div>
            <div *ngIf="password.errors.maxlength">At most 256 characters</div>
          </div>
        </div>

        <!-- Buttons -->
        <div class="actions">
          <button type="button" class="btn btn-light btn-pill" (click)="onCancel()">Cancel</button>
          <button id="submit" type="submit" class="btn btn-primary btn-pill" [disabled]="!form.form.valid">Submit</button>
        </div>

      </fieldset>
    </form>
  </div>
</div>
